html{
    align-items: center;
    position: absolute;
    height: fit-content;
}

body {
    font-family: Arial, sans-serif;
  }

header, footer {
    background-color: #a8281a;
    color: whitesmoke;
    height: 100px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    
}
main{
    background-color: whitesmoke;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 50px;
}
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  
  label, input {
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 600;
}
  p, h1, h2, h3, h4, h5, h6, li{
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    line-height: 1.2;
    align-items: center;
    vertical-align: middle;
  }
  ol, ul {
  align-items: center;
  text-align: left;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

p, .p, H1{
    text-align: justify;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px;
}
h2{
  text-align: center;
  font-weight: 600;
}
  
section {
  background-color: white;
  height: 400px;
  width: 100%;
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

aside{
  background-color: #d14637;
  padding: 1%;
  width: 20%;
  height: 100%;
}
.img{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.caberoda{
  text-align: center;
}